<div class="calculator">
      <div class="display">
        <p >{{(display?  display : "0" )}}</p>
      </div>
      <div class="buttons">
        <input type="button" value="AC" id="clear" (click)="clear()"/>
        <input type="button" value="DEL" id="erase" (click)="erase()" />
        <input type="button" value="{{item}}" class="input-button" *ngFor="let item of ['/','*',7,8,9,'-',6,5,4,'+',1,2,3]" (click)="click(item)" />
        <input type="button" value="=" id="equal" (click)="equal()" />
        <input type="button" value="0" class="input-button" (click)="click(0)" />
        <input type="button" value="." class="input-button" (click)="click('.')" />
      </div>
    </div>
